<% 	if announcement.newsletter.name == "netimpact" then color = "#b03533"
   	elsif announcement.newsletter.name == "marketingclub" then color = "#8f312f"
   	elsif announcement.newsletter.name == "foodclub" then color = "#579635"
	else 
		color = "#b03533"
	end %>

<div class="event" style="padding:5px;">
  <div>
	 <h2 style="float:left;margin-bottom:0px;color: <%= color %>;font-weight:normal;">
	 	<%= announcement.title %>
	 </h2>
   <% if controls %>
    <span class="controls" style="vertical-align:bottom;margin-left:15px;">
     <%= link_to "edit", newsletterAdmin_url(:newsletterName => announcement.newsletter.name, :action => "edit", :id => announcement.id) %>
    </span>
   <% end %>	
	</div>
	<hr style="clear:left;margin-bottom:0px;padding-bottom:0px;height:1px;color: #404040;background-color: #404040;" />
  <div class="event-info" style="margin-bottom:10px;">
    <h4 style="margin-bottom:0px;">
    	<%= announcement.announcementdate.strftime("%A, %b %e") %>, 
      <span class="time"><%= announcement.time %></span> |
		  <span class="location" style="font-style:italic;"><%= announcement.location %></span>
		  <% if !announcement.url.empty? %>
	    | <a class="url" href="<%= announcement.url %>"><%= announcement.url %></a>
	    <% end %>
		</h4>
  </div>
	<div style="padding:0px 10px">
    <%= announcement.description.html_safe %>
	</div>
</div>