<div class="event">
  <h2><%= announcement.title %></h2>
  <div class="event-info">
    <h4>
    	<%= announcement.announcementdate.strftime("%A, %b %e") %>, 
      <span class="time"><%= announcement.time %></span> |
		  <span class="location"><%= announcement.location %></span>
		</h4>
		<% if !announcement.url.empty? %>
		<a class="url" href="<%= announcement.url %>"><%= announcement.url %></a>
		<% end %>
  </div>
  <p><%= announcement.description %></p>
	<% if controls %>
	 <div class="controls">
	 	<%= link_to "edit", newsletterAdmin_url(:newsletterName => announcement.newsletter.name, :action => "edit", :id => announcement.id) %>
	 </div>
	<% end %>
</div>